@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");
/* Basic style */
:root {
  --green: #00ff00;
  --white: #dddddd;
  --dark: #111;
  --bg: #222;
  --btnbg: #333;
}
* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s linear;
}
*::selection {
  background: var(--green);
  color: var(--btnbg);
}
html {
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-track {
  background: var(--bg);
}
html::-webkit-scrollbar-thumb {
  background: var(--green);
}
.body {
  padding-left: 22rem;
  background-color: var(--dark);
  overflow-x: hidden;
  font-weight: bolder;
}
/* End Basic style */
/* header */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: auto;
  background: #1a1a1a;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  display: none;
}
.header img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  margin-top: 60px;
  border: 7px solid var(--green);
}
.header .name {
  color: var(--white);
}
.header .post {
  color: var(--white);
}
.navbar ul {
  list-style: none;
  margin: 30px;
}
.navbar .btn {
  display: none;
  font-size: 20px;
  background: var(--bg);
  color: var(--white);
}
.navbar ul {
  margin-bottom: 20px;
  margin-top: 0px;
}
.navbar ul li a {
  display: block;
  width: 100%;
  background: var(--btnbg);
  padding: 5px 5rem;
  margin: 5px;
  border-radius: 14px;
  text-decoration: none;
  color: var(--white);
}
.navbar ul li a:hover {
  background: var(--green);
  color: var(--white);
}

/* end header */
/* Home style */
.home {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  justify-content: center;
  padding: 0 6rem;
}
.home h3 {
  color: var(--white);
  font-size: 30px;
}
.home p {
  color: var(--white);
}
.home h1 {
  color: var(--white);
  font-size: 60px;
  font-weight: bolder;
}
.home span {
  text-shadow: px 1px greenyellow;
  color: var(--green);
}
.home .btn {
  padding: 7px 25px;
  color: var(--white);
  background: var(--btnbg);
  border-radius: 14px;
}
.home .btn:hover {
  background-color: var(--green);
  color: var(--white);
}
/* End home Style */
/* about style */
.about {
  margin-top: 7%;
  margin-bottom: 7%;
}
.heading {
  text-align: center;
  border-bottom: 2px solid#fff4;
}
.heading span {
  color: var(--green);
}
.info h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: var(--green);
}
.info span {
  color: var(--white);
}
.info .btn {
  padding: 7px 25px;
  color: var(--white);
  background: var(--btnbg);
  border-radius: 14px;
}
.info a {
  text-decoration: none;
}
.info .btn:hover {
  background-color: var(--green);
  color: var(--white);
}
.box {
  background: var(--bg);
}
.box:hover {
  box-shadow: 0 4px 8px 0 var(--green), 0 6px 20px 0 var(--green);
}
.hovered {
  box-shadow: 0 4px 8px 0 var(--green), 0 6px 20px 0 var(--green);
}
.counter span {
  font-size: 30px;
  color: var(--green);
}
.counter p {
  font-size: 22px;
}
/* End about style */
/* education Style*/
.education {
  margin-top: 7%;
  margin-bottom: 7%;
}
.education .ebox {
  padding-left: 50px;
  border-left: 4px solid var(--green);
}
.ebox span {
  color: var(--white);
  background-color: var(--bg);
  border-radius: 20px;
  padding: 5px 10px;
}
.education h3 {
  color: var(--white);
  margin-top: 10px;
}
.education p {
  color: var(--white);
}
.education .row {
  margin: 2rem;
}
/* End education style */
/* skills style*/
.skills {
  margin-top: 7%;
  margin-bottom: 7%;
}
.skills .sbox {
  background-color: var(--bg);
}
.skills .sbox:hover {
  box-shadow: 0 4px 8px 0 var(--green), 0 6px 20px 0 var(--green);
  transition: 0.1s;
}
.skills .row {
  margin: 2rem;
}
.skills h5 {
  font-weight: bolder;
}
/* prgrass */
svg.radial-progress {
  height: auto;
  max-width: 100px;
  padding: 1em;
  transform: rotate(-90deg);
  width: 100%;
}
svg.radial-progress circle {
  fill: rgba(0, 0, 0, 0);
  stroke: var(--green);
  stroke-dashoffset: 219.91148575129;
  stroke-width: 10;
}
svg.radial-progress circle.incomplete {
  opacity: 0.25;
}
svg.radial-progress circle.complete {
  stroke-dasharray: 219.91148575129;
}
svg.radial-progress text {
  fill: #fff;
  text-anchor: middle;
}
/* End skill style */
/* certificate */
/* The Modal (background) */
.modal {
  display: none;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: black;
}
/* Modal Content */
.modal-content {
  background-color: black;
  margin: auto;
  width: 60%;
  height: 10%;
  min-height: 70vh;
  max-width: 1000px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.images {
  color: var(--green);
  cursor: pointer;
}
/* The Close Button */
.close {
  color: white;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.modal-body img {
  width: 70%;
  height: 30%;
}
.modal-footer img {
  height: 80%;
}
/* Next & previous buttons */
.prev,
.next {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: var(--white);
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Number text (1/3 etc) */
.numbertext {
  color: var(--white);
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}
img.hover-shadow {
  transition: 0.3s;
}
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.582), 0 6px 20px 0 rgba(241, 238, 238, 0.712);
}
.mySlides {
  display: none;
}
.cursor {
  box-sizing: border-box;
  cursor: pointer;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* End certificate style  */
/* reviews style*/
.review {
  margin-top: 7%;
}
.review .row {
  margin: 2rem;
}
.img-area i {
  color: var(--green);
  padding: 20px 5px 5px 5px;
  font-size: 3rem;
  width: 100px;
  height: 100px;
  border: 5px solid var(--white);
  border-radius: 90%;
}
.single-box {
  padding: 10% 5%;
  margin-bottom: 20px;
  background: var(--bg);
}
.single-box h4 {
  color: var(--green);
}
.single-box:hover {
  box-shadow: 0 4px 8px 0 var(--green), 0 6px 20px 0 var(--green);
}
.img-text .fa-star,
.fa-star-half-alt {
  color: var(--green);
}
/* End review style */
/* contact style */
.contact {
  margin-top: 7%;
  margin-bottom: 7%;
}
.contact .details {
  margin: 2rem;
}
.contact .btn {
  padding: 7px 25px;
  color: var(--white);
  background: var(--btnbg);
  border-radius: 14px;
}
.contact .btn:hover {
  background-color: var(--green);
  color: var(--white);
}
.contact h4 {
  font-size: 20px;
}
.contact span {
  font-size: 20px;
  color: var(--green);
}
.contact .form-control {
  margin-bottom: 20px;
  background: var(--dark);
  border: 1px solid var(--btnbg);
}
.contact.form-control:focus {
  border-color: #5cb85c;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.contact .has-error .form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}
/* End contact style */
/* icons */
.education i {
  transform: translateX(-15px);
  font-size: 20px;
  padding: 5px 5px;
  border-radius: 20px;
  background: var(--green);
  color: var(--white);
}
.icons {
  margin-bottom: 3%;
  color: var(--green);
  cursor: pointer;
}

/* general style */
/* theme for desktop */
.theme1 {
  /* position: fixed; */
  display: flex;
  justify-content: end;
  bottom: 5px;
  display: flex;
  cursor: pointer;
}
/* theme for small device */
.theme {
  display: none;
}
/* button color */
.b1 {
  background-color: #ff0000;
}
.b2 {
  background-color: #ff1493;
}
.b3 {
  background-color: #0000ff;
}
.b4 {
  background-color: #ff4500;
}
.b5 {
  background-color: #ffff00;
}
.b6 {
  background-color: #00ffff;
}
/* darkswitch */
#darkSwitch {
  cursor: pointer;
}
/* top button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--green);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn i {
  transform: rotate(313deg);
}

.Worked span {
  color: var(--green);
}

@media (max-width: 570px) {
  .body {
    padding-left: 0;
  }
  .home {
    padding: 0 1rem;
  }
  .home h3 {
    font-size: 20px;
  }
  .home h1 {
    font-size: 40px;
  }
  .contact .me {
    margin-top: 20px;
  }
  .contact .form-control {
    margin-bottom: 20px;
  }
  #menu {
    display: block;
  }
  /* certificate */
  .cursor {
    margin-bottom: 20px;
  }
  .modal-content {
    width: 100%;
    height: 100%;
  }
  .modal-body img {
    padding-top: 25%;
    width: 100%;
    height: 100%;
  }
  .modal-footer {
    display: none;
  }
  .prev,
  .next {
    color: var(--green);
  }
  .theme {
    display: flex;
    justify-content: center;
  }
  .about_btn {
    display: flex;
    text-decoration: none;
    justify-content: center;
  }
}

.wrapper {
  padding: 10px 10%;
}
#card-area {
  padding: 50px 0;
}
.pbox-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.pbox {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}
.pbox img {
  width: 100%;
  height: 12rem;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.pbox .overlay {
  width: 100%;
  height: 0;
  background: linear-gradient(transparent, #29ed0baf 58%);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 10px;
  transition: height 0.5s;
}
.pbox .overlay h3 {
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 80%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 14px;
  /* letter-spacing: 2px; */
}
.pbox .overlay a {
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-size: 7px;
  background: #fff;
  border-radius: 50px;
  text-align: center;
  padding: 5px 15px;
}
.pbox:hover img {
  transform: scale(1.1);
}
.pbox:hover .overlay {
  height: 100%;
}
